<%- include("partials/header") -%>

<h1><%= title %></h1>



<span class="d-inline-block text-truncate" style="max-width: 150px;">
    <p>
        <%= content %>
    </p>
</span>

<%- include("partials/footer") -%>